---
import FormattedDate from "./FormattedDate.astro";

const { title, pubDate, description, slug } = Astro.props;
---

<a href={`/blog/${slug}/`}>
  <p class="date">
    <FormattedDate date={pubDate} />
  </p>
  <h5 class="title">{title}</h5>
  <p class="description">
    {description}
  </p>
</a>
<style>
  * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  a {
    display: block;
    border: 1px solid lightgray;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  .title {
    margin: 0.3rem 0;
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .description {
    color: rgb(var(--gray));
    margin: 0;
  }
  a:hover h4,
  a:hover .date .description {
    color: rgb(var(--accent));
  }
</style>
